
<!-- Modal View -->
<div ng-controller="ModalController" >

	<h2 class="label label-info" style="font-size: 32px">{{welcome.message}}</h2>

	<div style="margin-top: 30px;">
		<pre class="bs-example-scope">$scope.modal = {{modal | json}};</pre>
		<div class="bs-example" style="padding-bottom: 24px;" append-source>

			<!-- Modal View -->
			<div>
				<script type="text/ng-template" id="myModalContent.html">
					<div class="modal-header">
						<h3 class="modal-title">I'm a modal!</h3>
					</div>
					<div class="modal-body">
						<ul>
							<li ng-repeat="item in items">
								<a ng-click="selected.item = item">{{ item }}</a>
							</li>
						</ul>
						Selected: <b>{{ selected.item }}</b>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="ok()">OK</button>
						<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
					</div>
				</script>

				<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
				<button class="btn btn-default" ng-click="open()">Medium modal</button>
				<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
				<div ng-show="selected">Selection from a modal: {{ selected }}</div>
			</div>
		</div>

	</div>

</div>